echo "$(date) Running .xinitrc..." >> $HOME/xinitrc.log

eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)

echo "$(date) SSH_AUTH_SOCK: $SSH_AUTH_SOCK" >>$HOME/xinitrc.log

export SSH_AUTH_SOCK

# disable touchpad
xinput set-prop 14 316 0

# faster keys
xset r rate 300 60
